
.field-of-activity .container {
  padding: 0px 15px 140px;
  z-index: 3;
  display: flex;
  gap: 20px;
}
.field-of-activity-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.field-of-activity-block {
  border: 1px solid #1f12d433;
  border-radius: 12px;
  max-width: 415px;
  padding: 18px;
  text-align: center;
  width: 100%;
  min-height: 320px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;

  background-color: #FAFAFA;
}
.field-of-activity-block-top {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.field-of-activity-block-column {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 12px;
}
.field-of-activity-block-column-row {
  display: flex;
  align-items: center;
  gap: 10px;
}
.field-of-activity-block-img {
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  .field-of-activity .container{
    flex-direction: column;
    justify-content: center;
  }
  .field-of-activity-column{
    flex-direction: row;
    justify-content: center;
  }
}

@media only screen and (max-width: 900px) {
  .field-of-activity .container{
    padding: 0 15px 60px;
  }

  .field-of-activity-block{
    gap: 20px;
    min-height: 250px;
  }
  .field-of-activity-block-img{
    max-width: 100%;
    max-height: 120px;
  }
}

@media only screen and (max-width: 620px) {
  .field-of-activity-column{
    flex-direction: column;
    align-items: center;
  }
  .blue-section{
    padding: 35px 20px;
  }
  .field-of-activity-block-column-row p{
    font-size: 16px!important;
  }
  .field-of-activity-block-top h2{
    font-size: 20px;
  }
}