footer {
  background: #010013;
  padding: 20px 0 40px;
}

footer .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

.footer-nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.footer-nav a {
  color: #fafafa;
  font-size: 16px;
  transition: all 0.3s ease;
}

.footer-nav a:hover {
  opacity: 0.8;
}

.footer-left {
  width: 100%;
  max-width: 640px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-icons {
  display: flex;
  gap: 24px;
  padding-top: 15px;
  max-width: 200px;
  width: 100%;
}
.footer-icon {
  width: 32px;
  height: 32px;
}

@media only screen and (max-width: 900px) {
  .footer-left {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
  }

  .footer-nav {
    flex-wrap: wrap;
  }

  footer .container {
    flex-wrap: wrap;
  }
}
