.team {
  background-color: #efefef;
  text-align: center;
  padding: 40px 0;
}

.team-block {
  max-width: 305px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.team-block h2 {
  margin-top: 6px;
}
.team-block-top {
  background: #0000001a;
  padding: 12px;
  border-radius: 10px;
  min-height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team-block-img {
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .team-block-top p {
    font-size: 18px !important;
  }
  .team-block h2 {
    font-size: 24px !important;
  }
}
